#gitignore for libansilove

# Mac OS X Finder
.DS_Store

# build products
build/
build-wasm/
npm/packages/libansilove/.wasm-build/

# Nix
result
result-*/

# direnv
.direnv/

# CMake
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# npm package build
node_modules/
npm/packages/*/dist/
tmp.png
