#gitignore for libansilove

# Mac OS X Finder
.DS_Store

# build products
build/
build-wasm/

# Nix
result
result-*/

# direnv
.direnv/

# CMake
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# WASM artefacts
example/wasm/libansilove.browser.js
example/wasm/libansilove.browser.wasm
build-wasm/wasm/test-output.png
build-wasm/wasm/libansilove.browser.js
build-wasm/wasm/libansilove.browser.wasm
build-wasm/wasm/libansilove.node.cjs
build-wasm/wasm/libansilove.node.wasm

# npm package build
node_modules/
npm/packages/*/dist/
