#gitignore for libansilove

# Mac OS X Finder
.DS_Store

# build products
build/
build-wasm/

# Nix
result
result-*/

# direnv
.direnv/

# CMake
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# WASM artefacts
example/wasm/libansilove.js
example/wasm/libansilove.wasm
build-wasm/wasm/test-output.png

# npm package build
npm/libansilove-wasm/node_modules/
npm/libansilove-wasm/dist/
npm/libansilove-wasm/package-lock.json
